#twitter-feed {
    width:263px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:60px;
    padding:8px 10px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
    overflow: hidden;
}
#twitter-feed h1 {
    color:#5F5F5F;
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;
}
#twitter_user_timeline ul.feeds{
    margin: 0;
    padding: 0;
    float: left;
    height: 364px !important;
}
li.twitter-article, #loading-container {
    border-top:1px dotted #CCC;
    padding:8px 0px 8px 0px;
    list-style: none outside none;
    background: none;
    margin: 0;
}
#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;
}
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;
    border:none;
 
}
 img  {
     border:none;
 }
.twitter-text p {
    margin:0px;
    line-height:15px;
    font-size: 12px;
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
 
.twitter-text {
    width:204px;
    font-size:11px;
}
 
#twitter_user_timeline a.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
    z-index: 50;
    position: relative;
}
#twitter_user_timeline a.tweet-time:hover{
    color:#0084B4 !important;
    text-decoration: underline !important;
}
#twitter_user_timeline .header .p-name {
    color: #333333;
    font-weight: bold;
}
#twitter_user_timeline .header .p-name:hover{
    text-decoration: underline !important;
}
#twitter_user_timeline .header .p-nickname {
    color: #707070;
    text-decoration: none !important;
}
.backlink {
    font-size:11px;
    text-align:center;
}
 
.backlink a {
    color:#aaa;
}
.twitter-article a, .twitter-article a:hover{
    text-decoration: none !important;
}
.twitter-text a b{
    font-weight: normal;
}
.twitter-text a:hover b{
    text-decoration: underline;
}




#twitter_user_timeline .header .p-nickname:before {
    content: "\A ";
    white-space: pre;
}

#twitter_user_timeline  .header {
    min-height: 32px;
    padding: 0 0 4px 36px;
    position: relative;
}
#twitter_user_timeline .header .avatar{
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    height: 32px;
    left: 0;
    top: 2px;
    width: 32px;
}

#twitter_user_timeline{
    font: 12px/16px "Helvetica Neue",Arial,sans-serif !important;
}